.App {
  text-align: center;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  text-decoration: non;
  background-color: black;
  color: white;

}

.nb-div {
  height: 200px;
  background-color: black;
}

